<div style="position: absolute;top: 25%;left: 40%;">
    <h3 class="h3 mb-3 font-weight-normal"style="text-align: center;margin: 20px;">Add student details</h3>
    <form style="text-align: center;">
        <div class="form-sign-in">
          <label for="email address" class="sr-only"></label>
          <input style="width: 300px;height:45px ;margin-left: auto;margin-right: auto;" class="form-control" type="text" id="exampleInputName1" placeholder="Student Name"data-toggle="tooltip" data-placement="bottom" title="Please fill out this field.">
        </div>
        <div class="form-group">
          <label for="password" class="sr-only"></label>
          <input style="width: 300px;height: 45px;margin-left: auto;margin-right: auto;" class="form-control" type="text" id="exampleInputEnrollmentNumber1" placeholder="Enrollment Number" data-toggle="tooltip" data-placement="bottom" title="Please fill out this field.">
        </div>
        <button style="width: 300px;height: 48px;margin-top: 3px;" type="submit" class="btn btn-primary btn-lg" routerLink='/student-details'>View Details</button>
        <p style="margin-top: 16px;">Click <a href="#" (click)="openAddNewStudent()">here</a> to Add New Student</p>
    </form>
</div>